.animated-text {
  display: inline-block;
  width: 100%;
 
}

.animated-text .word {
  display: inline-block;
  will-change: transform, opacity;
  font-family: 'Italianno', Arial, sans-serif;
   
}

.cursive-subtitle {
  font-family: 'Italianno', cursive;
  font-size: 1.2rem;
  color: #ffffff !important;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  order: -1;
  
  &.left {
    text-align: left;
  }
  
  @media (max-width: 768px) {
    font-size: 1rem;
    margin-bottom: 8px;
  }
}
